<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="MyApp" packages="">
    <appenders>
        <RollingFile name="RollingFile" fileName="logs/app.log"
            filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
        <RollingFile name="UserLog" fileName="logs/user.log"
            filePattern="logs/$${date:yyyy-MM}/user-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
        </RollingFile>
        <File name="ScriptLog" fileName="logs/script.log" append="false">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </appenders>
    <loggers>
	    <Logger name="user" level="info" additivity="false">
	      <appender-ref ref="UserLog"/>
	    </Logger>
	    <Logger name="script" level="info" additivity="false">
	      <appender-ref ref="ScriptLog"/>
	    </Logger>
        <root level="info">
            <appender-ref ref="RollingFile" />
        </root>
    </loggers>
</configuration>