body {
	font-family:'Lucida Grande',
	 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
	 Meiryo, メイリオ, sans-serif;
}
div.box{
        margin-top:10px;
        margin-bottom:10px;
        font-size: small;
}
body{
        background-color:#FAFAFA
}
h1{
        font-size: small;
}
h2{
        font-size: small;
}
h3{
        font-size: small;
}
p {
        font-size: small;
}
table{
        border:1px #BBB solid;
        border-collapse: collapse;
        font-size: small;
}
table tr th{
        border:1px #BBB solid;
        border-collapse: collapse;
        background-color:#BFF
}
table tr{
        border:1px #BBB solid;
        border-collapse: collapse;
        padding: 5px;
}
table tr td{
        border:1px #BBB solid;
        border-collapse: collapse;
        padding: 5px;
        background-color:#EEE
}
.label-syoha{
        color:#FC0
}
.label-tyuha{
        color:#F80
}
.label-taiha{
        color:#F00
}
.label-gotin{
        color:#00F
}
td.enemy{
	color:#F00
}
td.friend{
	color:#00F
}
